body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;

}


/* NAV BAR */
nav{
    display: flex;
    padding: 0px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    background-color: white;

}

#navName{
    width: 100%;
    padding-left: 30px;
    font-size: 20px;
}

#nav{
    padding-right: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 30%;
    align-self: center;
}

.navLi{
    display: inline;
    text-decoration: none;
}


/* NAMES OF SECTION */
.secName{
    margin-top: 100px;
    text-align: center;

}


/* INTRO SECTION */
#intro{
    display: flex;
    justify-content: center;
    padding-top: 240px;
    padding-bottom: 140px;
    /* padding-left:100px;
    padding-right: 100px; */
    /* background-color: lightblue; */
}

#hiEK{

}


/* ABOUT SECTION */
#aboutSec{
    background-color: navy;
    padding-bottom: 20px;

}

#aboutName{
    padding-top: 10px;
    color: white;
}

#abDescription{
    width: 50%;
    margin: 10px;
    align-self: center;
    color: white;
}

#mePic{
    align-self: center;
    width: 250px;
    height: 250px;
}

#aboutMe{
    display: flex;
    justify-content: space-around;
}


/* PROJECTS SECTION */
#projectSec{
    background-color: ;
}

#projectName{
    color: navy;
}

#totalprojects{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

img{
    object-fit: cover;
    height: 400px;
    width: 400px;
    border: 5px solid white;
    padding: 3%;
}

.projectPic:hover {
  border: 5px solid navy;
    transition: .5s;
}


/* CONTACT SECTION */
#contactSec{
    justify-content: center;
}

#contactName{
    display: flex;
    justify-content: center;
    color: navy;
}

#contactList{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-left: -40px;
}

.contactLi{
    padding: 10px;
    display: inline;
}

/* 
.descriptions{

    /* width: 50%; */
