img{
    object-fit: cover;
    height: 200px;
    width: 200px;
}

#kwk18, #kwk19{
    display: inline-flex;
}

body{
    font-family: 'Open Sans', sans-serif;
}

#intro{
    display: inline-flex;
    padding: 100px;
}

#hiEK{
    
}